#principal{
    border: 1px solid blue;  
}
#titulo{
    border: 1px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
}
#escolha-opcao{
    border: 1px solid yellow;
    text-align: center;
}
#lista-opcao{
    list-style: none;
    text-align: left;
    margin: 0 0 0 40%;
    
    border: 1px solid green;
}
#lista-opcao li{
    margin: 5px 0 0 0;
    font-size: 26px;
}
#alimentacao-geral{
    border: 1px solid orange;
    text-align: center;
}

.opcoesLista{
    border: 1px solid orange;
    text-align: center;
}
@media all and (max-width: 700px){
    #lista-opcao{
        list-style: none;
        text-align: left;
        margin: 0 0 0 0;
        border: 1px solid green;
    }
}