*{
    margin: 0;
    padding: 0;   
}

.nav-bar{
    position: sticky;
    top: 0;
    background-color: #2c3e50;
    padding: 50px;
}

.logo{
    position: absolute;
    color: white;
    font-size: 70px;
    top: 5%;
    left: 5%;
    user-select: none;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: center;   
}
.menu ul{
    position: absolute;
    right: 5%;
}

.menu ul li{
    display: inline;
    list-style: none;
    padding: 5px;
    color: white;
    font-size: 30px;
}

.menu ul li a{
    text-decoration: none;
}

.menu ul li a:visited{
    color: white;
}

.menu ul li a:hover{
    zoom: 130%;
}

.banner{
    height: 1920px;
}

