body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: #ccc;
    height: 200vmax;
}

.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: rgba(255, 254, 254, 0.5);
    z-index: 1;
}

.logo{
    padding: 0 0 0 20px;
}

.menu ul li{
    display: inline;
    list-style: none;
    margin-right: 20px;
    font-family: sans-serif;
    font-weight: bold;
}

.menu ul li:hover{
    color: #ffdfad;
}
.menu ul:nth-child(1){
    color: #fbb03b;
}
a, a:visited{
    color: #000000;
    text-decoration: none;
}

.facebook{
    position: fixed;
    top: 250px;
    left: 2%;
}
.instagram{
    position: fixed;
    top: 300px;
    left: 2%;
}

.principal{
    height: 616px;
    width: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
}
.imagem-principal{
    position: relative;
}
.balao-layout, .balao-texto{
    position: absolute;
    bottom: 30px;
    left: 100px;
    font-family: sans-serif;
    text-align: center;
    font-size: 17px;
}

.balao-texto{
    left: 80px; 
}

.titulo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.lista-exemplos{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 40%;
    text-align: left;
}
.produtos{
    display: flex;
    justify-content: center;
}